<%- include('partials/header'); -%>

<br /><br /><br /><br /><br />
<div class="container home">
  <div>
    <h1>Home</h1>
  </div>
  <div class="container">
    <p><%= first %></p>
  </div>
  <br />

  <!-- 
  purana method
 <% for(var i=0;i<datas.length;i++) { %>
       console.log(datas[i].tittle);  
 <% } %>
  -->
  <!-- naya method-->
  <% datas.forEach(function(data){ %>
  <h1><%= data.tittle %></h1>

  <p id="sort">
    <%= data.messege.substring(0,100) %>
    <a href="/post/<%=data.tittle%>">.......read more </a>
  </p>

  <% }) %>

  <center>
    <a href="/compose" style="color: azure">
      <button
        type="button"
        class="bbtn btn-primary btn-lg btn-block"
        style="display: inline; width: fit-content; align-items: center"
      >
        ADD ANOTHER
      </button>
    </a>
  </center>

  <br/>
</div>

<%- include('partials/footer'); -%>
